@tailwind base;
@tailwind components;
@tailwind utilities;


body {
 margin: 0;
 box-sizing: border-box;
 padding: 0;
 background: #F0F5F9;
<<<<<<< HEAD
}


::-webkit-scrollbar{
    width: 4px;
}

::-webkit-scrollbar:horizontal{
height: 12px;
}

::-webkit-scrollbar-thumb{
    @apply bg-slate-500 rounded-xl
}
=======

}

::-webkit-scrollbar {
    width: 3px; /* Ancho de la barra de desplazamiento */
 
   }
   
   /* Estilo para el rastro de la barra de desplazamiento */
   ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo del rastro */
   }
   
   /* Estilo para el controlador de la barra de desplazamiento */
   ::-webkit-scrollbar-thumb {
    background: #E84545; /* Color de fondo del controlador */
   }
   
   /* Cambia el color del controlador cuando se pasa el cursor */
   ::-webkit-scrollbar-thumb:hover {
    background: #F73859; /* Color de fondo del controlador al pasar el cursor */
   }
>>>>>>> ed365d3e72f383b22b2fe63acfba3a5115cb498b
