@tailwind base;
@tailwind components;
@tailwind utilities;



body {
 margin: 0;
 box-sizing: border-box;
 padding: 0;
 background: #F0F5F9;
<<<<<<< HEAD
}


::-webkit-scrollbar{
    width: 4px;
}

::-webkit-scrollbar:horizontal{
height: 12px;
}

::-webkit-scrollbar-thumb{
    @apply bg-slate-500 rounded-xl
=======
>>>>>>> prueba-react-beautiful
}
